<ion-view view-title="Superwomen">
  <ion-content>       
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/dashboard/{{playlist.naam}}">      
					<section class="member_image"> 
                    <img src="{{playlist.image}} " />
					</section>      
					<section class="member_name">
					{{playlist.naam}} 
					</section>             
					<section class="member_distance">
					{{playlist.distance}} m
					</section>
					<div class="line">
					</div>
			
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
