<ion-view view-title="Superwoman">
  <ion-content>
 <ion-list>
      <ion-item ng-repeat="data in user">
      			<section class="user_image">    
                <img src="{{data.afbeelding}}" /> 
                </section>
                <section class="user_name"> 
                {{data.title}}	
                </section>
                <section class="user_gear"> 
                {{data.gear}}
                </section>
               <button class="button contact_me" ng-click="contactme()">
                Contacteer me!
               </button>
               <section style="" class="user_number">  	
                {{data.telefoonnummer}} 
                
                </section>			        
      </ion-item>
	  
    </ion-list> 
</ion-content>
</ion-view> 
